#about {
    margin-top: 10px;
}

/* #name, #subt{ */
#subt {
    text-align: center;
}

/* .custom-hr {
    width: 33%;
    border: 1px solid #cddaed !important;
    opacity: 1 !important;
} */
    
